name: Terraform Deploy

on:
  workflow_call:
    inputs:
      terraform_root_path:
        required: true
        type: string
      terraform_version:
        required: true
        type: string
      environment:
        required: true
        type: string

jobs:
  terraform_deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    env:
      TF_IN_AUTOMATION: true
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ inputs.terraform_version }}

      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}


      - name: Terraform Init
        working-directory: ${{ inputs.terraform_root_path }}/${{ inputs.environment }}
        env:
          TF_PLUGIN_CACHE_DIR: .terraform.d/plugin-cache
        run: |
          mkdir -p $TF_PLUGIN_CACHE_DIR
          terraform init -input=false -get-plugins=false

      - name: Terraform Plan
        working-directory: ${{ inputs.terraform_root_path }}/${{ inputs.environment }}
        run: terraform plan -out=tfplan -input=false

      - name: Upload Terraform Plan
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: ${{ inputs.terraform_root_path }}/tfplan

      - name: Terraform Apply
        working-directory: ${{ inputs.terraform_root_path }}/${{ inputs.environment }}
        run: terraform apply -auto-approve tfplan
